<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is an index file which contains all the apps which I've created while
      <i>Learning Node.JS</i></p>
    <hr>
    <h2>List of apps</h2>
    <ul>
      <li>
        <h3><a href="/todo" title="Todo List">Simple Todo List app</a></h3>
        <p>This app uses `cookie-session` node module to maintain the session and
          creates a simple todo list with Add & Delete operations.</p>
      </li>
    </ul>
    <h2>Instructions:</h2>
    <ol>
      <li>Go to the root of the repository folder.</li>
      <li>Install all the dependencies by running <pre>npm install</pre></li>
      <li>After that just run <pre>npm start</pre></li>
      <li>Access the apps by going to the <pre><a href="http://localhost:3000">http://localhost:3000/</a></pre></li>
    </ol>
  </body>
</html>
